<%= form_for(@tenni) do |f| %>
  <% if @tenni.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tenni.errors.count, "error") %> prohibited this tenni from being saved:</h2>

      <ul>
      <% @tenni.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :jugador1 %><br />
    <%= f.text_field :jugador1 %>
  </div>
  <div class="field">
    <%= f.label :jugador2 %><br />
    <%= f.text_field :jugador2 %>
  </div>
  <div class="field">
    <%= f.label :p1 %><br />
    <%= f.number_field :p1 %>
  </div>
  <div class="field">
    <%= f.label :p2 %><br />
    <%= f.number_field :p2 %>
  </div>
  <div class="field">
    <%= f.label :ganador %><br />
    <%= f.text_field :ganador %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
